@use "themes/dark";
@use "themes/light";

body {
  font-family: var(--font-family-main);
  font-weight: 400;
  outline: none;
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--primary-color);
}

body {
  background: var(--bg-color);
}

.container {
  width: 100%;
  max-width: var(--container-max-2xl);
  margin-inline: auto;
  padding-inline: var(--container-padding-desktop);
  box-sizing: border-box;

  // NOTE: размерности экранов тоже лучше выносить в меременные: $breakpoint-sm/$breakpoint-md или $breakpoint-mobile/$breakpoint-tablet
  @media (width <= 1440px) {
    max-width: var(--container-max-xl);
  }

  @media (width <= 1280px) {
    max-width: var(--container-max-lg);
  }

  @media (width <= 1024px) {
    max-width: var(--container-max-md);
  }

  @media (width <= 768px) {
    max-width: 100%;
    padding-inline: var(--container-padding-mobile);
  }
}



