body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background: #000000;
  color: #fff;
  outline: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1730px;
  margin: 0 auto;
  width: 100%;
}

button,
a,
input,
textarea,
select {
  background: transparent;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}

button:focus,
a:focus,
input:focus,
textarea:focus,
select:focus {
}

button:hover,
a:hover {
}
