@use "themes/dark";
@use "themes/light";

body {
  font-family: var(--font-family-main);
  font-weight: 400;
  outline: none;
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--primary-color);
}

.container {
  max-width: var(--container-height-2xl);
  margin: 0 auto;
  width: 100%;
}
