body {
  font-family: var(--font-family-main);
  font-weight: 400;
  background: var(--bg-color);
  color: var(--primary-color);
  outline: none;
}

.container {
  max-width: var(--container-height-2xl);
  margin: 0 auto;
  width: 100%;
}


