.AnimeCard {
  backdrop-filter: blur(10px);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 270px;
  text-decoration: none;


  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  }

  .animeImg {
    display: block;
    background: rgba(255, 255, 255, 0.05);
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
  }

  &:hover .animeImg {
    transform: scale(1.05);
  }

  .animeName {
    font-size: 14px;
    font-weight: 600;
    margin: 1rem 0;
    color: #fff;
  }

  .animeRating {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    color: #ffd700;
  }
}