.card {
  background: rgb(255 255 255 / 2%);
  border: 1px solid rgb(255 255 255 / 3%);
  padding: 8px;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.thumb {
  width: 80px;
  height: 120px;
  border-radius: 6px;
  object-fit: cover;
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  font-weight: 700;
}

.role {
  color: rgb(255 255 255 / 70%);
  font-size: 13px;
}

.va {
  color: rgb(255 255 255 / 60%);
  font-size: 12px;
}
