.navBtn {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 48px;
  height: 48px;
  z-index: 30;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s linear;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-10px); /* небольшая анимация скрытия */
}



.prevBtn { left: 10px; }

.nextBtn { right: 10px; }

.prevBtn::before,
.nextBtn::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  margin: 0 auto;
  transition: all .2s linear;
}

.prevBtn::before {
  transform: rotate(-135deg);
}

.nextBtn::before {
  transform: rotate(45deg);
}

.navBtn:hover::after {
  content: "";
  position: absolute;
  top: -100vh;
  bottom: -100vh;
  left: -200px;
  right: -200px;
  z-index: -1;
  pointer-events: none;
  background: linear-gradient(
                  to right,
                  rgba(0,0,0,0.45),
                  rgba(0,0,0,0)
  );
  transition: opacity .2s;
}

.prevBtn:hover::after { background: linear-gradient(to right, rgba(0,0,0,0.45), rgba(0,0,0,0)); }
.nextBtn:hover::after { background: linear-gradient(to left, rgba(0,0,0,0.45), rgba(0,0,0,0)); }