.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .AnimeCard {
    width: 150px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 100px;
}
