.app.dark {
  --bg-color: #000;
  --primary-color: #fff;
  --secondary-color: #ff9f43;
  --inverted-primary-color: #ff3d6e;
  --inverted-secondary-color: #4aa3ff;
  --btn-grenn-color: #1ab003;
  --btn-red-color: #ff6b8a;
  --btn-yellow-color: #ffd700;
  --bg-color-rgb: 0 0 0;
  --bg-opacity: 0.45;
  --bg-shadow-opacity: 0.8;
  --bg-brightness: 4;
}
