.field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.field label {
    font-size: 14px;
}

.field input {
    padding: 14px 16px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.05);
    background: rgba(255,255,255,0.04);
    color: #f3f6ff;
    font-size: 18px;
    display: flex;
    flex: 1;

    transition: border-color 150ms ease, background 150ms ease, box-shadow 200ms ease;
}

.field input:focus {
    border-color: #fff;
    background: rgba(255,255,255,0.07);
    box-shadow: 0 0 15px rgba(255,255,255,0.25);
}
