.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.title {
  margin: 0;
  color: #fff;
  font-size: 16px;
}

.showAll {
  background: transparent;
  border: 1px solid rgb(255 255 255 / 4%);
  color: rgb(255 255 255 / 90%);
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 13px;
}

.showAll:hover {
  background: rgb(255 255 255 / 2%);
}
